.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#b90000;    
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
   margin-bottom: 6px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-right: 10px;
  }

  .account{
    text-decoration: none;
    align-items: center;
    margin-right: end;
    color: #FFFFFF;
  }
  .icon {
    margin-left: 25px;
    text-decoration: none;
    color: #FFFFFF;
    align-items: center;
  }
 